/* hero.css */

html {
    scroll-behavior: smooth;
}

.hero-container {
    background-image: url('../img/hero/hero-ima-dog-and-cat.jpg');
    background-size: cover;
    background-position: center;
    height: 544px;
    position: relative;
    overflow: hidden;
}

.hero-container::before{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
    90deg,
    rgba(62, 54, 38, 0.74) 0%,
    rgba(62, 54, 38, 0) 70%
  );
    z-index: 1;
}

.hero-content-container {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    max-width: 335px;
}

.hero-description-container {
    color: #FFFFFF;
}

.hero-description-title {
    font-size: 40px;
    line-height: 120%;
    font-weight: 700;
    font-style: bold;
    letter-spacing: -1%;
    font-family: 'Open Sans', sans-serif;
}

.hero-description-text {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 24px;
}

.hero-button {
    background-color: #88765C;
    border: none;
    border-radius: 6px;
    width: 171px;
    height: 45px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.25s ease;
    gap: 8px;
    margin-top: 32px;
}

#success-history {
    scroll-margin-top: 100px;  
}

.hero-button:hover{
    background-color: #C3B49D;
    border: #02060A 1px solid;
    color: #02060A;
}


@media screen and (min-width: 768px) {
    .hero-container {
        display: flex;
    }

    .hero-content-container {
        max-width: 704px;
    }

    .hero-description-text {
        width: 512px;
    }
}

@media screen and (min-width: 1440px) {
 
    .hero-container {
        height: 900px;
    }

    .hero-description-container{
        width: 622px;
        padding-top: 80px;
    }

    .hero-description-title  {
        font-size: 56px;
    }

    .hero-description-text {
        width: 460px;
    }

    .hero-button {
        width: 198px;
        height: 48px;
        gap: 16px;
    }
}
